#head-meme-container {
  margin: 20px auto;
  width: 400px;
  font-family: sans-serif;
  font-weight: 600;
}

#meme-image-container {
  margin: 20px auto;
  height: auto;
  width: auto;
  max-width: 300px;
  max-height: 300px;
  font-family: sans-serif;
  background-color: white;
  border: solid black 1px;
}

#meme-image-container label {
  font-weight: 600;
  margin-bottom: 10px;
}

#meme-image-container input {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
}

#meme-image {
  width: 100%;
  background-size: 100%;
}

#meme-text {
  width: 300px;
  margin-top: 10px;
  position:absolute;
  z-index: 1;
  text-shadow: 5px 5px 5px black;
  font-size: 30px;
  color: white;
  text-align: center;
  word-wrap: break-word;
}

.buttons {
  text-align: center;
}

#fire {
  background-color: red;
}

#water {
  background-color: blue;
}

#earth {
  background-color: green;
}

#memes {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

#meme-1 {
  width: 100px;
  height: 100px;
  margin: 5px;
  border: solid black 1px;
}

#meme-2 {
  width: 100px;
  height: 100px;
  margin: 5px;
  border: solid black 1px;
}

#meme-3 {
  width: 100px;
  height: 100px;
  margin: 5px;
  border: solid black 1px;
}

#meme-4 {
  width: 100px;
  max-height: 100px;
  margin: 5px;
  border: solid black 1px;
}

.input-image {
  margin-top: 10px;
}
